@import "tailwindcss";

:root {
  --bg-gradient: linear-gradient(180deg, #fdf6ee 0%, #f7efe6 50%, #f3ece3 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: linear-gradient(
    180deg,
    #cfe1ff 0%,   /* 上：はっきり青 */
    #e6efff 35%,
    #f3f7ff 65%,
    #ffffff 100% /* 下：ほぼ白 */
  ); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent !important;
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}